[submodule "Configuring-and-Managing-Microsoft-Azure-Key-Vault"]
	path = Configuring-and-Managing-Microsoft-Azure-Key-Vault
	url = https://github.com/ned1313/Configuring-and-Managing-Microsoft-Azure-Key-Vault.git
